#container
{
	margin: 0px auto;
	width: 1280px;
}

#header
{
	font-size: 250%;
	text-align: center;
	padding: 30px;
}

#menu
{
	float: left;
	width: 276px;
}

#content
{
	float: right;
	width: 1000px;
}

#content #top
{
	padding: 5px 10px;
}

#content #top #crumbs
{
	float: left;
}

#content #top #user
{
	float: right;
}

#content #center
{
	padding: 0px 10px;
}

.clear
{
	clear: both;
	height: 0px;
}

.centered
{
	text-align: center;
}

.placedright
{
	margin-left: 10px;
	float: right;
}

.slim
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.top_thick
{
	margin-top: 20px;
}

.inline
{
	display: inline;
	margin: 0px;
}

.datalistitem
{
	margin-bottom: 10px;
}

.datalistitem strong
{
	display: block;
}

table
{
	width: 100%;
	margin: 20px 0px;
}

form
{
	margin: 10px 0px;
}

label
{
	display: block;
}

textarea
{
	width:  976px;
	height: 100px;
}

.required
{
	border: 2px red solid;
}
