body
{
	margin: 0; 
	padding: 0;
}

#container
{
	width: 960px;
}

#content #top
{
	padding: 5px 10px;
}

#content #top #crumbs
{
	float: left;
}

#content #top #user
{
	float: right;
}

#content #center
{
	padding: 0px 10px;
}

.clear
{
	clear: both;
	height: 0px;
}

.centered
{
	text-align: center;
}

.placedright
{
	margin-left: 10px;
	float: right;
}

.slim
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.top_thick
{
	margin-top: 20px;
}

.inline
{
	display: inline;
	margin: 0px;
}

.datalistitem
{
	margin-bottom: 10px;
}

.datalistitem strong
{
	display: block;
}

table
{
	width: 100%;
	margin: 20px 0px;
}

form
{
	margin: 10px 0px;
}

label
{
	display: block;
}

textarea
{
	width:  650px;
	height: 100px;
}

.required
{
	border: 2px red solid;
}
