body, div {margin: 0; padding: 0; font: 13px/100% Arial, Helvetica, sans-serif;}

body {font-size: 12px; background: #eee;}

table, tr, th, td, table caption {border: 1px solid #3589a1;}
table {border-collapse: collapse;}
table caption {border-bottom: 0px; font-size: 150%; font-weight: bold;}

label {font-weight: bold;}

th, th a, table caption {text-decoration: none; color: black; text-shadow:1px 1px 0 rgba(0,0,0, 0.4);}
th a:hover {color: white; cursor: pointer;}
th, table caption {padding: 10px 16px 10px 10px; background:-moz-linear-gradient(top, #4fbdf0 0%, #45b2d2 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fbdf0), color-stop(100%,#45b2d2)); background:-webkit-linear-gradient(top, #4fbdf0 0%,#45b2d2 100%); background:-o-linear-gradient(top, #4fbdf0 0%,#45b2d2 100%); background:-ms-linear-gradient(top, #4fbdf0 0%,#45b2d2 100%); background:linear-gradient(top, #4fbdf0 0%,#45b2d2 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fbdf0', endColorstr='#45b2d2',GradientType=0);}
td { padding:3px; }

h2 { margin-top: 30px; }

span.required:after { content: " *"; color: red; font-size: 2em; vertical-align: top; }

.feedbackPanel {padding-top: 8px; padding-bottom: 8px;}
.feedbackPanelINFO, .feedbackPanelERROR, .uncommitedNotice {padding: 4px; font-weight: bold; font-size: 110%; white-space: pre-wrap;}
.feedbackPanelINFO, .uncommitedNotice {color: #3589a1;}
.feedbackPanelERROR {color: red;}

.button, .help {cursor: pointer;}
.button, .help, input {display: inline-block; margin: 2px; outline:none; text-decoration: none; font: 13px/100% Arial, Helvetica, sans-serif; padding: 4px; border:1px solid #B8B8B8; border-radius: 5px;}
.button, .help, input[type="submit"], input[type="button"] {color: #242424; font-weight: bold; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); background: #DCDCDC; background:-moz-linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#DCDCDC)); background:-webkit-linear-gradient(top, #FFFFFF 0%,#DCDCDC 100%); background:-o-linear-gradient(top, #FFFFFF 0%,#DCDCDC 100%); background:-ms-linear-gradient(top, #FFFFFF 0%,#DCDCDC 100%); background:linear-gradient(top, #FFFFFF 0%, #DCDCDC 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DCDCDC',GradientType=0);}
input.delete { color: darkred; }

td.actions { text-align: center; white-space: nowrap; }

.help {float: right;}

#header {padding: 28px; font-size: 32px;}

#container {margin: 0 auto; min-height: 100%;}

#user div { display: inline; margin-left: 10px; }

.navigation {color: gray;}
.navigation a {color: black; font-weight: bold; text-decoration: none;}
.navigation a:hover {color: white;}

form.disabledForm input, form.disabledForm textarea, form.disabledForm select { color: black; border-width: 1px; background-color: #EEEEEE;}
form.disabledForm span.required:after { display: none; }

.introtext { font-size: 1.2em; line-height: 1.3; }

/* DEPLOYMENT MODE */
#menu {height:37px; display:block; padding:0; margin:0;}
#menu > ul {list-style:inside none; padding:0; margin:0;}
#menu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;}
#menu > ul > li > a, #menu > ul > li > span > em {outline:none; display:block; position:relative; padding: 12px 18px 12px 12px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4);}
#menu > ul > li:first-child > a, #menu > ul > li:first-child > span > em {border-radius:5px 0 0 5px;}
#menu > ul > li > a:after, #menu > ul > li > span > em:after {content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99;}
#menu ul li.has-sub:hover > a:after, #menu ul li.has-sub:hover > span > em:after {top:0; bottom:0;}
#menu > ul > li.has-sub > a:before, #menu > ul > li.has-sub > span > em:before, #menu > ul > li.has-sub > ul > li.has-sub > a:before, #menu > ul > li.has-sub > ul > li.has-sub > span > em:before {content:''; position:absolute; top:18px; right:5px; border:5px solid transparent; border-top:5px solid #fff;}
#menu > ul > li.has-sub:hover > a:before, #menu > ul > li.has-sub:hover > span > em:before {top:19px;}
#menu ul li.has-sub:hover > a, #menu ul li.has-sub:hover > span > em {background:#3f3f3f; border-color:#3f3f3f; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999;}
#menu ul li.has-sub:hover > ul, #menu ul li.has-sub:hover > div {display:block;}
#menu ul li.has-sub > a:hover, #menu ul li.has-sub > span > em:hover {background:#3f3f3f; border-color:#3f3f3f;}
#menu ul li > ul, #menu ul li > div {display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999;}
#menu ul li > ul {width:200px;}
#menu ul li > ul li {display:block; list-style:inside none; padding:0; margin:0; position:relative;}
#menu ul li > ul li a, #menu ul li > ul li span em {outline:none; display:block; position:relative; margin:0; padding:13px 18px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5);}
#menu, #menu > ul > li > ul > li a:hover, #menu > ul > li > ul > li span em:hover {background:#4fbdf0; background:-moz-linear-gradient(top, #4fbdf0 0%, #45b2d2 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fbdf0), color-stop(100%,#45b2d2)); background:-webkit-linear-gradient(top, #4fbdf0 0%,#45b2d2 100%); background:-o-linear-gradient(top, #4fbdf0 0%,#45b2d2 100%); background:-ms-linear-gradient(top, #4fbdf0 0%,#45b2d2 100%); background:linear-gradient(top, #4fbdf0 0%,#45b2d2 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fbdf0', endColorstr='#45b2d2',GradientType=0);}
#menu > ul > li > a, #menu > ul > li > span > em {border-right:1px solid #3589a1; color:#fff;}
#menu > ul > li > a:after, #menu > ul > li > span > em:after {border-color:#6ed1ff;}
#menu > ul > li > a:hover, #menu > ul > li > span > em:hover {background:#36acd2;}
#menu {height:37px; display:block; padding:0; margin:0; border:1px solid; border-radius:5px; border-color:#3589a1;}

.wicket_orderUp a {display: inline-block; position: relative; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4);}
.wicket_orderUp a:before {content:''; margin-right: -19px; margin-top: -18px; position:absolute; top:18px; right:3px; border:5px solid transparent; border-bottom:5px solid #fff;}

.wicket_orderDown a {display: inline-block; position: relative; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4);}
.wicket_orderDown a:before {content:''; margin-right: -19px; margin-top: -10px; position:absolute; top:18px; right:3px; border:5px solid transparent; border-top:5px solid #fff;}

#content {margin-top: 8px;}

.dnINSERT {background-color: rgba(0, 200, 20, 0.3);}
.dnDELETE {background-color: rgba(200, 0, 20, 0.3);}

.errorListing {white-space: pre-wrap;}